<div ng-init="homeLoad()">
<!-- Header Starts -->
	<header>
	<!-- Nested Container Starts -->
		<div class="container">
		<!-- Top Bar Starts -->
			<div class="top-bar hidden-sm hidden-xs">
				<div class="row">
					<div class="col-sm-6 col-xs-12">
						<span>Opening Hours:</span>  Mon To Fri - 9:00 - 20:00, Sat &amp; Sun - 10:00 - 15:00
					</div>
					<div class="col-sm-6 col-xs-12" ng-if="!loginSuccess">
						<ul class="list-unstyled list-inline">
							<li>
								<a href="" ng-click="stateLogin()">
									<i class="fa fa-user"></i>Login
								</a>
							</li>
							<li><a href="" ng-click="stateSignup()"><i class="fa fa fa-user-plus"></i> Create Account</a></li>
						</ul>
					</div>
					<div class="col-sm-6 col-xs-12" ng-if="loginSuccess == true">
						<ul class="list-unstyled list-inline">
							<li>
								<a href="" ng-click="stateLogout()">
									<i class="fa fa-user"></i>Logout
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		<!-- Top Bar Ends -->
		<!-- Navbar Starts -->
			<nav id="nav" class="navbar navbar-default" role="navigation">
				<div class="container-fluid">
				<!-- Navbar Header Starts -->
					<div class="navbar-header">
					<!-- Collapse Button Starts -->
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					<!-- Collapse Button Ends -->
					<!-- Logo Starts -->
						<a href="index.html" class="navbar-brand">
							<i class="fa">
								<img src="content/images/logo.png" alt="" />
							</i>
							
						</a>
					<!-- Logo Ends -->
					</div>
				<!-- Navbar Header Ends -->
				<!-- Navbar Collapse Starts -->
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav navbar-right">
							<li class=""><a href="" ng-click="stateHome()">Home</a></li>
							<li><a href="" ng-click="stateServices()">Health Checkup</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</div>
				<!-- Navbar Collapse Ends -->
				</div>
			</nav>
		<!-- Navbar Ends -->
		</div>
	<!-- Nested Container Ends -->
	</header>	
<!-- Header Ends -->
	
	<!-- Slider Section Starts -->
	<section class="slider clearfix">
		<div id="camera_wrap_1" class="camera_wrap camera_white_skin">
		<!-- Slide #1 Starts -->
			<div data-src="content/images/slider/slider-img1.jpg">
				<div class="camera_caption fadeFromLeft hidden-sm hidden-xs">
					<h2>One Stop Solution</h2>
					<h2>For All <span>Medical Needs</span></h2>
					<p>
						Lorem Ipsum is simply dummy text printer took a galley of type and scrambled it to make a type specimen book.
					</p>
					<a href="services.html" class="btn btn-secondary">View Services</a>
				</div>
			</div>
		<!-- Slide #1 Ends -->
		<!-- Slide #2 Starts -->
			<div data-src="content/images/slider/slider-img2.jpg">
				<div class="camera_caption fadeIn hidden-sm hidden-xs">
					<h2>Main Heading</h2>
					<h2><span>Some Caption</span> Here</h2>
					<p>
						Lorem Ipsum is simply dummy text printer took a galley of type and scrambled it to make a type specimen book.
					</p>
					<a href="#" class="btn btn-secondary">Read More</a>
				</div>
			</div>
		<!-- Slide #2 Ends -->
        <!-- Slide #3 Starts -->
			<div data-src="content/images/slider/slider-img3.jpg">
				<div class="camera_caption fadeIn hidden-sm hidden-xs">
					<h2>Main Heading</h2>
					<h2><span>Some Caption</span> Here</h2>
					<p>
						Lorem Ipsum is simply dummy text printer took a galley of type and scrambled it to make a type specimen book.
					</p>
					<a href="#" class="btn btn-secondary">Read More</a>
				</div>
			</div>
		<!-- Slide #3 Ends -->
		</div>
	</section>
<!-- Slider Section Ends -->

<!-- Footer Starts -->
	<footer class="main-footer">
	<!-- Footer Area Starts -->
		<div class="footer-area">
		<!-- Nested Container Starts -->
			<div class="container">
				<div class="row">
				<!-- Hosptial Information Starts -->
					<div class="col-md-3 col-sm-4 col-xs-12">
						<h4>Hosptial Information</h4>
						<p>
							Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including.
						</p>
						<ul class="list-unstyled address-list">
							<li class="clearfix address">
								<i class="fa fa-home"></i>
								Shilparamam Lonsdale St. Marks Road, Talay Victoria 8011 London.
							</li>
							<li class="clearfix">
								<i class="fa fa-fax"></i>
								001 - 785 987 1234
							</li>
							<li class="clearfix">
								<i class="fa fa-phone"></i>
								001 - 123 478 5987
							</li>
							<li class="clearfix">
								<i class="fa fa-envelope"></i>
								<a href="mailto:info@yourhospitalsite.com">info@yourhospitalsite.com</a>
							</li>
						</ul>
					</div>
				<!-- Hosptial Information Ends -->
				<!-- Services Starts -->
					<div class="col-md-2 col-sm-4 col-xs-12">
						<h4>Services</h4>
						<ul class="list-unstyled">
							<li><a href="#"><i class="fa fa-angle-right"></i> Pediatric Clinic</a></li>
							<li><a href="#"><i class="fa fa-angle-right"></i> Diagnosis Clinic</a></li>
							<li><a href="#"><i class="fa fa-angle-right"></i> Cardiac Clinic</a></li>
							<li><a href="#"><i class="fa fa-angle-right"></i> Laboratory Analysis</a></li>
							<li><a href="#"><i class="fa fa-angle-right"></i> Dental Clinic</a></li>
							<li><a href="#"><i class="fa fa-angle-right"></i> Gynecological Clinic</a></li>
							<li><a href="#"><i class="fa fa-angle-right"></i> Psychological</a></li>
						</ul>
					</div>
				<!-- Services Ends -->
				<!-- Twitter Starts -->
					<div class="col-md-3 col-sm-4 col-xs-12">
						<h4>Twitter</h4>
						<ul class="list-unstyled tweets-list">
							<li>
								<i class="fa fa-twitter"></i>
								Our Hospitals Website Launched.
								<a href="#">http://t.co/xyz12abc</a>
							</li>
							<li>
								<i class="fa fa-twitter"></i>
								Our Hospitals Twitter Page, please follow.
								<a href="#">http://t.co/testlink</a>
							</li>
							<li>
								<i class="fa fa-twitter"></i>
								Our Hospitals Facebook Page, please like.
								<a href="#">http://t.co/abc123link</a>
							</li>
							<li>
								<i class="fa fa-twitter"></i>
								Our Hospitals Broucher Launched.
								<a href="#">http://t.co/xyz-test1</a>
							</li>
						</ul>
					</div>
				<!-- Twitter Ends -->
				<!-- Signup Newsletter Starts -->
					<div class="col-md-4 col-xs-12 newsletter-block">
						<h4>Signup Newsletter</h4>
						<form action="#" class="newsletter">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Your Name">
							</div>
							<div class="form-group">
								<input type="email" class="form-control" placeholder="Enter your Email Address">
							</div>
							<button type="submit" class="btn btn-lg btn-block btn-secondary">Submit</button>
						</form>
					</div>
				<!-- Signup Newsletter Ends -->
				</div>
			</div>
		<!-- Nested Container Ends -->
		</div>
	<!-- Footer Area Ends -->
	<!-- Copyright Starts -->
		<div class="copyright">
			<div class="container clearfix">
				<p class="pull-left">
					&copy; Copyright 2015. AlL Rights Reserved By <span>Hosptials</span>
				</p>
				<ul class="list-unstyled list-inline pull-right">
					<li><a href="#">Terms Of Services</a></li>
					<li><a href="#">Privacy</a></li>
					<li><a href="contact.html">Contact Us</a></li>
				</ul>
			</div>
		</div>
	<!-- Copyright Ends -->
	</footer>
<!-- Footer Ends -->
</div>