<!-- Header Starts -->
<header ng-init="homeLoad()">
	<div class="container-fluid" style="background-color:#fff; border-bottom:4px solid #cbcbcb;">
	<!-- Navbar Starts -->
			<nav id="nav" class="navbar navbar-default" role="navigation">
				<div class="container">
				<!-- Navbar Header Starts -->
					<div class="navbar-header">
					<!-- Collapse Button Starts -->
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					<!-- Collapse Button Ends -->
					<!-- Logo Starts -->
						<a href="index.html" class="navbar-brand">
							<i class="fa">
								<img src="content/images/logo.png" alt="" />
							</i>
						</a>
					<!-- Logo Ends -->
					</div>
				<!-- Navbar Header Ends -->
					<div class="row">
							
						<div class="collapse navbar-collapse" id="myNavbar">
							<ul class="nav navbar-nav navbar-right">
								<li><a href="#"> Sign Up</a></li>
						        <li><a href="#">Login</a></li>
						        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
								<li><a href="#"><i class="fa fa-google"></i>+</a></li>
								<li><a href="#"><i class="fa fa-youtube"></i></a></li>
						    </ul>
						</div>
					</div>
				</div>
			</nav>
	<!-- Navbar Ends -->
	</div>
</header>
<!-- Header Ends -->

<!-- Breadcrumb Starts -->
	<div class="breadcrumb">
		<div class="container">
			<div class="navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="">HOME</a></li>
    				<li class="dropdown">
    					<a href="" data-toggle="dropdown" class="dropdown-toggle">Health Checkups</a>
    					<ul class="dropdown-menu">
    						<li><a href="" ng-click="stateServices();">Basic Checkup</a></li>
    						<li class="divider"></li>
    						<li><a href="">Super Checkup</a></li>
    						<li class="divider"></li>
    						<li><a href="">Women Health</a></li>
    					</ul>
    				</li>
    				<li><a href="">Tests & Profiles</a></li>
    				<li><a href="">Nursing</a></li>
    				<li><a href="">Physiotherapy</a></li>
    				<li><a href="">Contact</a></li>
  				</ul>
			</div>
		</div>
	</div>		
<!-- Breadcrumb Ends -->
<!-- Slider Section Starts -->
	<section class="slider clearfix">
		<div id="camera_wrap_1" class="camera_wrap camera_white_skin">
		<!-- Slide #1 Starts -->
			<div data-src="content/images/slider/slider-img1.jpg">
				<div class="camera_caption fadeFromLeft hidden-sm hidden-xs">
					<h2>Basic Plan</h2>
					<h2>For All <span>Medical Needs</span></h2>
					<p>
						Lorem Ipsum is simply dummy text printer took a galley of type and scrambled it to make a type specimen book.
					</p>
					<a href="services.html" class="btn btn-secondary">View Services</a>
				</div>
			</div>
		<!-- Slide #1 Ends -->
		<!-- Slide #2 Starts -->
			<div data-src="content/images/slider/slider-img2.jpg">
				<div class="camera_caption fadeIn hidden-sm hidden-xs">
					<h2>Main Heading</h2>
					<h2><span>Some Caption</span> Here</h2>
					<p>
						Lorem Ipsum is simply dummy text printer took a galley of type and scrambled it to make a type specimen book.
					</p>
					<a href="#" class="btn btn-secondary">Read More</a>
				</div>
			</div>
		<!-- Slide #2 Ends -->
        <!-- Slide #3 Starts -->
			<div data-src="content/images/slider/slider-img3.jpg">
				<div class="camera_caption fadeIn hidden-sm hidden-xs">
					<h2>Main Heading</h2>
					<h2><span>Some Caption</span> Here</h2>
					<p>
						Lorem Ipsum is simply dummy text printer took a galley of type and scrambled it to make a type specimen book.
					</p>
					<a href="#" class="btn btn-secondary">Read More</a>
				</div>
			</div>
		<!-- Slide #3 Ends -->
		</div>
	</section>
<!-- Slider Section Ends -->

<!-- Book Appointment Box Starts -->
	<div class="book-appointment-box">
		<div class="row">
			<div class="col-md-offset-4 col-md-4 col-xs-12 text-center">
				<a href="doctor-profile.html" class="btn btn-main text-uppercase">Book your Appointment</a>
			</div>
		</div>
	</div>
<!-- Book Appointment Box Ends -->

<footer class="main-footer">
	<div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-4 col-xs-12">
					<h4>Partners</h4>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-12">
					<h4>Services</h4>
					<ul class="list-unstyled">
						<li><a href="#"><i class="fa fa-angle-right"></i> Basic Package</a></li>
						<li><a href="#"><i class="fa fa-angle-right"></i> Super Package</a></li>
						<li><a href="#"><i class="fa fa-angle-right"></i> Women Package</a></li>
						<li><a href="#"><i class="fa fa-angle-right"></i> Individual Package</a></li>
						<li><a href="#"><i class="fa fa-angle-right"></i> Physiotherapy</a></li>
						<li><a href="#"><i class="fa fa-angle-right"></i> Tests & Profiles</a><1/li>
						<li><a href="#"><i class="fa fa-angle-right"></i> Nursing</a></li>
						<li><a href="#"><i class="fa fa-angle-right"></i> Top 10</a></li>
						<li><a href="#"><i class="fa fa-angle-right"></i> Best Deels</a></li>
					</ul>
				</div>
				<div class="col-md-3 col-xs-12">
					<!-- Testimonials Starts -->
					<h4 class="side-heading1">Testimonials</h4>
					<div id="testimonial-carousel" class="testimonial-box carousel" data-ride="carousel">
					<!-- Indicators Starts -->
						<ol class="carousel-indicators">
							<li data-target="#testimonial-carousel" data-slide-to="0" class="active"></li>
							<li data-target="#testimonial-carousel" data-slide-to="1"></li>
							<li data-target="#testimonial-carousel" data-slide-to="2"></li>
						</ol>
					<!-- Indicators Ends -->
					<!-- Wrapper For Slides Starts -->
						<div class="carousel-inner quote-box" role="listbox">
							<i class="fa fa-quote-left fa-2x"></i>
						<!-- Quote #1 Starts -->
							<div class="item active">
								<blockquote>
									Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dol or id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
								</blockquote>
								<div class="quote-footer">
									Jeniffier Loppax<br>
									<span>Female, 45 Years</span>
								</div>
							</div>
						<!-- Quote #1 Ends -->
						<!-- Quote #2 Starts -->
							<div class="item">
								<blockquote>
									Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dol or id nibh ultricies vehicula ut id elit.
								</blockquote>
								<div class="quote-footer">
									Sam Pobbel<br>
									<span>Male, 36 Years</span>
								</div>
							</div>
						<!-- Quote #2 Ends -->
						<!-- Quote #3 Starts -->
							<div class="item">
								<blockquote>
									Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dol or id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
								</blockquote>
								<div class="quote-footer">
									Jenny Hoter<br>
									<span>Female, 29 Years</span>
								</div>		
							</div>
						<!-- Quote #3 Ends -->
						</div>
					<!-- Wrapper For Slides Ends -->
					</div>
				<!-- Testimonials Ends -->
				</div>
			</div>
		</div>
	</div>
</footer>